@keyframes opening-div {
    0% {
      opacity: 0;
      width: 0;
      height: 0;
      top: -.5px;
    }
    20% {
      opacity: 1;
    }
    70% {
      width: 220px;
    }
    100% {
      top: 0px;

      height: 320px;
      
    }
  }
  
  
  @keyframes opening-div-reverse {
    0% {
      opacity: 0;
      left: 95px;
      top: -.5px;
      width: 0;
      height: 0;
    }
    20% {
      opacity: 1;
    }
    70% {
      width: 220px;
      left: -125px;
    }
    100% {
      top: 0px;
     
   
      height: 320px;
      
    }
  }
  @keyframes text-opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      
    }
  }