@keyframes text-slide {
  0% {
    transform: translateY(250px);
  }
  25% {
    transform: translateY(150px);
  }
  50% {
    transform: translateY(100px);
  }
  75% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
