$primary-color: #363657;
$secondary-color: #ff9f85;
$third-color: #e8c26d;
$bg-color: #eae8e8;
$white-color: rgb(250, 245, 245);
$black-color: #272729;

$base-font-size: 16px;
$small-font-size: 14px;

$primary-font-family: "Montserrat", sans-serif;
$secondary-font-family: "Roboto", sans-serif;
$light-text-color: #f8f3f3;
$dark-text-color: #1a0a0a;

$main-spacing: 20px;
$main-width: 80%;

$breakpoints: (
  xs: 500px,
  sm: 750px,
  md: 900px,
  l: 1025px,
  xl: 1450px,
);

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
