@import 'variables';
@import 'reset';
@import 'typography';
@import 'svg';
@import 'keyframes';
@import 'header';
@import 'main';
@import 'footer';

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 1920px;
    margin: 0 auto;
  }